services:
  client:
    ports:
      - "3000"
    environment:
      - NODE_ENV=production

  nginx:
    image: nginx:latest
    restart: unless-stopped
    volumes:
      # Nging no ssl
      # - ./nginx/no-ssl.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/production.conf:/etc/nginx/conf.d/default.conf
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    ports:
      - "80:80"
      - "443:443"

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    command: certonly --webroot -w /var/www/certbot --force-renewal --email galihroswandi25@gmail.com -d galih.roswandi.com -d www.galih.roswandi.com --agree-tos
