@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'future-mono';
    src: url('/Fonts/frutitype-aa-actual-mono-light.otf') format('truetype');
}

@font-face {
    font-family: 'fraunces-114pt-regular';
    src: url('/Fonts/Fraunces_114pt_Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'fraunces-114pt-light';
    src: url('/Fonts/Fraunces_144pt_Light.ttf') format('truetype');
}

body {
    font-family: 'future-mono', sans-serif !important;
    font-weight: 400 !important;
}

.hamburger-line {
    @apply w-[15px] bg-slate-800 py-[.07rem] block rounded-full;
}

.primary {
    background: url('/img/bg-noisetexture-blue.svg');
}

.button {
    position: relative;
}

.button::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #1e293b;
    transition: width 0.3s ease-in-out;
}

.button:hover::after {
    width: 100%;
}