@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-button.active.mobile {
  @apply bg-gradient-to-b from-[#0A66C2] to-[#5FA04E];
}

.nav-button.active {
  @apply bg-slate-100 dark:bg-slate-900;
}

.sidebar::-webkit-scrollbar {
  width: 0;
  @apply bg-transparent;
}

.sidebar::-webkit-scrollbar-track {
  background: transparent;
}

div.hexagone {
  display: inline-block;
  filter: url(#round);
}
.hexagone::before {
  content: "";
  display: flex;
  clip-path: polygon(
    20% 0%,
    85% 0,
    85% 40%,
    170% 35%,
    100% 100%,
    20% 100%,
    0 100%,
    0 0
  );
  @apply h-24 w-full bg-gradient-to-r from-primary-green to-primary-blue relative;
}

.particles-anim {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
