@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffff;
  --primary-blue: #0290ac;
  --primary-orange: #d55406;
  --text-color: oklch(44.6% 0.043 257.281);
  --color-surface: #f1f5f9;
}

@theme {
  --font-sans: var(--font-geist-sans);
  --color-primary: var(--primary-blue);
}

.dark {
  --color-surface: #0f172a;
  --background: #00080b;
  --text-color: oklch(92.9% 0.013 255.508);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--text-color);
  font-family: Inter, Helvetica, sans-serif;
}

.inverted {
  clip-path: url("#clip");
  width: inherit;
  height: inherit;
  background-color: #513d34;
  aspect-ratio: 2 / 1;
}

.nav-button.active.mobile {
  background-image: linear-gradient(
    to bottom,
    var(--color-primary-blue),
    var(--color-primary-green)
  );
}

.nav-button.active {
  background-color: var(--color-surface);
}

.sidebar::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.sidebar::-webkit-scrollbar-track {
  background: transparent;
}

div.hexagone {
  display: inline-block;
  filter: url(#round);
}

.hexagone::before {
  content: "";
  display: flex;
  clip-path: polygon(
    20% 0%,
    85% 0,
    85% 40%,
    170% 35%,
    100% 100%,
    20% 100%,
    0 100%,
    0 0
  );
  height: 6rem; /* h-24 */
  width: 100%;
  background-image: linear-gradient(
    to right,
    var(--color-primary-green),
    var(--color-primary-blue)
  );
  position: relative;
}

.particles-anim {
  opacity: 0;
  animation: fadeIn 0.5s 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
